.header {
    max-width: 880px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 920px) {
    .header {
        padding: 0 19px 0 19px;
    }
}

/* @media screen and (max-width: 500px) {
    .header {
        flex-direction: column-reverse;
    }
} */
