.profile__avatar {
    border-radius: 100px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 120px;
}

.profile__avatar:hover:before .profile__avatar {
    background-image: url(../../../images/Avatar_change.jpg);
}

@media screen and (max-width: 670px) {
    .profile__avatar {
        margin-bottom: 26px;
        margin-right: 0;
    }
}