.element__delete {
    background-image: url(../../../images/delete.svg);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    width: 18px;
    height: 19px;
    transition: opacity 0.2s linear;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete:hover {
    opacity: .6;
    cursor: pointer;
}