.popup__input-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    min-height: 28px;
    color: #FF0000;
    opacity: 0;
    display: block;
    margin-bottom: 2px;
}

