.element__like {
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    width: 22px;
    height: 19px;
    transition: opacity 0.2s linear;
    border: none;
    padding: 0;
}

.element__like:hover {
    opacity: .6;
    cursor: pointer;
}